extends layout

block content
    div(class="home-wrapper")
        div(class="home-container")
            h1 Register
            if errors
                p #{errors}
            form(class="form-container" action="/register" method="POST")
                label(for="username") Username
                input(type="text" id="username" name="username" placeholder="Username")
                label(for="password") Password
                input(type="password" id="password" name="password" placeholder="Password")
                label(for="confirm-password") Confirm Password 
                input(type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password")
                input(type="submit" name="submit" value="Submit")
            