extends layout

block content
  div(class="home-wrapper")
    div(class="home-container")
      h1 Welcome to Exploding Kittens!

      ul
        li
          a(href="/login") Login
        li
          a(href="/register") Register