body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dashboard-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(224, 224, 224);
}

.dashboard-container {
  width: 50%;
  min-width: 800px;
  max-width: 1500px;
  background-color: white;
  box-sizing: border-box;
  padding: 20px 50px;
}

.dashboard-container h1 {
  text-align: center;
}

.user-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}

.lobby-list {
  margin-top: 30px;
}

#lobby{
  width: 100%;
  list-style: none;
  padding: 0;
  display: block;
}

#lobby li {
  margin: 10px 0;
}

#lobby li form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dashboard-logo {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}