body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.home-wrapper {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  width: 50%;
  max-width: 500px;
  text-align: center;
  font-size: 1.5rem;
}

.home-container ul {
  width: 70%;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.home-container ul li {
  display: block;
  margin-bottom: 15px;
  list-style: none;
}

.home-container ul li a{
  display: block;
  background-color: rgb(173, 173, 173);
  padding: 15px 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.form-container {
  width: 100%;
}

.form-container label {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form-container input {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  box-sizing: border-box;
  height: 50px;
  font-size: 1.2rem;
}