extends layout

block content
    h1 Welcome back #{username}!
    form(action='/logout' method="GET")
        input(type="submit" name="logout" value="Logout")
    form(id="createLobby")
        input(type="submit" name="createLobby" value="Create Lobby")
    form(id="pageForm" action='/g/0' mehod="GET")
    div(class="lobby-list")
        p(id="lobby")
        //work on javascript part to fetch lobbies

    script(src="/scripts/dashboard.js")