extends layout

block content
    h1 #{gameName} #{gameID}
    h3 Deck:
    form(action='/game/pullDeck' method="GET")
        input(type="submit" name="change-name" value="Change Lobby")
    h3 Your Cards:
    div(id="cardOwn")
    h3 Enemy Cards:
    form(action='/game/exitGame' method="GET")
        input(type="submit" name="exit" value="Exit Game")

    script(src="/scripts/game.js")