extends layout

block content
    h1 #{gameName} #{gameID}
    input(type="hidden" id="idInput" value=gameID)
    h3 Deck:
    form(action='/game/pullDeck' method="GET")
        input(type="submit" name="pullDeck" value="Pull Deck")
    h3 Your Cards:
    div(id="cardOwn")
    h3 Enemy Cards:
    form(action='/game/exitGame' method="GET")
        input(type="submit" name="exit" value="Exit Game")

    h4 Chat:
    ul(id="messages")
        form(id="messageForm")
            input(type="hidden" id="info" value=gameID)
            input(id="messageInput" autocomplete="off")
            input(type="submit" name="sendMessage" value="Send")

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/chat.js")
    script(src="/scripts/game.js")