extends layout

block content
    h1 #{gameName}
    h3(id="turn")
    input(type="hidden" id="game_id" value=gameID)
    input(type="hidden" id="player_id" value=uid)
    h3 Deck:
    form(id="deck")
        input(type="submit" name="pullDeck" value="Pull Deck")
    h3 Discarded:
    div(id="discarded" display="hidden")
        label(name="discardCard")
    h3 Your Cards:
    div(id="cardOwn")
    h3 Enemy Cards:
    div(id="enemy1")
    div(id="enemy2")
    div(id="enemy3")
    div(id="enemy4")
    div(id="enemy5")
    form(action='/game/exitGame' method="GET")
        input(type="submit" name="exit" value="Exit Game")

    h4 Chat:
    ul(id="messages")
        form(id="messageForm")
            input(type="hidden" id="info" value=gameID)
            input(id="messageInput" autocomplete="off")
            input(type="submit" name="sendMessage" value="Send")

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/chat.js")
    script(src="/scripts/game.js")
    script(src="/scripts/cards.js")