extends layout

block content
    h1 #{gameName}
    h3 Current Players:
    p #{username}
    br
    form(action='/game/pullDeck' method="GET")
        input(type="submit" name="change-name" value="Change Lobby")
    form(action='/game/startGame' method="GET")
        input(type="submit" name="startGame" value="Start Game")
    form(action='/game/exitGame' method="GET")
        input(type="submit" name="exit" value="Exit Game")

    script(src="/scripts/dashboard.js")