extends layout

block content
    h1 #{gameName}
    h3 Current Players:
    p #{username}
    br
    form(action='/startGame' method="POST")
        input(type="submit" name="startGame" value="Start Game")
    form(action='/exitLobby' method="POST")
        input(type="submit" name="exit" value="Exit")

    script(src="/scripts/dashboard.js")