extends layout

block content
    h1 #{gameName}
    h3 Current Players:
    p #{username}
    br
    form(action='/dashboard/updateLobbyName' method="POST")
        input(type="text" id="lobbyName" name="lobbyName" placeholder="Lobby name")
        input(type="submit" name="change-name" value="Change Lobby")
    form(action='/game/startGame' method="GET")
        input(type="submit" name="startGame" value="Start Game")
    form(action='/game/exitLobby' method="GET")
        input(type="submit" name="exit" value="Exit")

    h4 Chat:
    ul(id="messages")
        form(id="messageForm" onsubmit="sendMessage(e)")
            input(id="messageInput" autocomplete="off")
            input(type="submit" name="sendMessage" value="Send")

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/lobby.js")